.about-wrapper {
    height: 100%;
    background-color: grey;
    padding: 170px 240px;
    color: white;
    h2{ text-align: center; }

    .profiles {
        padding-top: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.profile-wrapper {
    box-sizing: border-box;
    width: 20%;
    text-align: center;
    padding-bottom: 35px;

    p { line-height: 0.7; }
    #member-name { font-size: 21px;}

    img {
        border-radius: 50%;
        height: 180px;
        &:hover {
            transition: 0.1s;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
            cursor: pointer;
        }
    }

    @media (max-width: 1600px) {
        width: 25%;
    }
}