.red-link-button {
	font-family: 'Montserrat', sans-serif;
	outline: none;
	background-color: $eohred;
	border-radius: 10px;
	border: none;
	color: white;
	padding: 4px 10px;
	&:hover {
		background-color: $eohreddarker;
		cursor: pointer;
	}
}