@import "colors";

.exhibits-map-wrapper {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	.react-map-gl-wrapper {
		height: 60%;
		width: 580px;
		@media (max-width: 630px) {
			width: 100%;
		}
	}
}

.exhibits-pin-popup {
	width: 250px;

	p { line-height: 15px; }

	.exhibits-popup-title {
		font-size: 15px;
		margin: 0;
	}

	.exhibits-popup-description {
		color: grey;
		font-size: 12px;
	}

	.exhibits-popup-button {
		font-family: 'Montserrat', sans-serif;
		outline: none;
		background-color: $eohred;
		border-radius: 8px;
		border: none;
		color: white;
		padding: 4px 8px;
		&:hover {
			background-color: $eohreddarker;
			cursor: pointer;
		}
	}
}

.exhibits-pin-image {
	cursor: pointer;
}

.exhibit-page-wrapper {
	.exhibit-videos {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: 55px;
		
		.exhibit-card-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			box-sizing: border-box;
			box-shadow: 0px 0px 8px 1px #e3e3e3;
			padding: 18px;
			margin-bottom: 40px;
			width: 30%;
			@media (max-width: 1230px) { width: 45%; }
			@media (max-width: 745px) { width: 375px; }
			@media (max-width: 515px) { width: 100%; }

			.exhibit-card-rso-name {
				color: grey;
				margin: 0 0 1px 0;
				font-size: 14px;
			}

			.exhibit-card-video {
				height: 200px;
			}

			.exhibit-card-name {
				margin: 10px 0 10px 0;
				line-height: 28px;
			}

			.exhibit-card-description {
				margin: 0 0 10px 0;
				line-height: 20px;
				font-size: 14px;
				color: grey;
			}

			.exhibit-card-link {
				font-family: 'Montserrat', sans-serif;
				outline: none;
				color: white;
				background-color: $eohred;
				border-radius: 15px;
				border: none;
				padding: 4px 10px;
				margin-right: 6px;
				&:hover {
					cursor: pointer;
					background-color: $eohreddarker;
				}
			}
		}
	}
}