.footer {
    background-color: black;
    width: 100%;
    height: 70px;
    padding: 3px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer-logo {
        margin-left: 150px;
        height: 35px;
    }

    .footer-links {
        margin-right: 150px;
        a { padding-left: 50px; color: white; }
    }

    @media (max-width: 980px) {
        height: 200px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .footer-logo {
            margin-bottom: 18px;
        }
        .footer-links {
            display: flex;
            flex-direction: column;
            margin-left: 150px;
            a { padding-left: 0px; padding-bottom: 3px; }
        } 
    }

    @media (max-width: 520px) {
        justify-content: center;
        align-items: center;

        .footer-logo, .footer-links { margin-left: 0; margin-right: 0; }

        .footer-links { align-items: center; }
    }
}