// Cummins -----------------------------------------------

.cummins-fact-sheet-container {
  display: flex;
  justify-content: space-between;
  & > img {
    width: 48%;
  }
}

@media (max-width: 1095px) {
  .cummins-fact-sheet-container {
    flex-direction: column;
    & > img {
      width: 100%;
    }
  }
}

.cummins-videos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .cummins-video {
    height: 100%;
    width: 500px;
    margin: 60px 60px;

    .cummins-video-embed {
      height: 300px;
    }
  }

  @media (max-width: 1500px) {
    .cummins-video {
      width: 400px;
      margin: 40px 60px;

      .cummins-video-embed {
        height: 280px;
      }
    }
  }

  @media (max-width: 1310px) {
    .cummins-video {
      width: 350px;
      margin: 30px 50px;
    }
  }

  @media (max-width: 970px) {
    .cummins-video {
      width: 300px;
      margin: 30px 30px;
    }
  }

  @media (max-width: 835px) {
    .cummins-video {
      width: 100%;
      margin: 30px 0px;
    }
  }
}

// Exxon -----------------------------------------------

.exxon-view-more {
  margin-bottom: 0px;
}

// P&G -----------------------------------------------

.pg-header-image {
  width: 50%;
  margin-bottom: 50px;
}

@media (max-width: 1045px) {
  .pg-header-image {
    width: 100%;
  }
}

.pg-bios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .pg-bio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin: 30px 30px;
    text-align: center;

    & > img {
      border-radius: 50%;
      height: 200px;
      width: 200px;
    }

    .pg-bio-name {
      font-size: 22px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .pg-bio-major,
    .pg-bio-role {
      font-size: 14px;
      margin: 0;
      color: grey;
    }

    .pg-bio-testimonial {
      font-size: 15px;
    }
  }

  @media (max-width: 1600px) {
    .pg-bio-container {
      width: 300px;
    }
  }

  @media (max-width: 805px) {
    .pg-bio-container {
      width: 100%;
    }
  }
}

// Chevron -----------------------------------------------

.chevron-video-container {
  width: 100%;
  height: 600px;
}

@media (max-width: 800px) {
  .chevron-video-container {
    height: 400px;
  }
}

// John Deere -----------------------------------------------

.john-deere-video-container {
  width: 100%;
  height: 600px;
}

@media (max-width: 800px) {
  .john-deere-video-container {
    height: 400px;
  }
}
