@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Montserrat&family=Open+Sans&display=swap');

.sponsor-container {
    background: grey;
    box-sizing: border-box;
    position: relative;
    padding: 170px 200px;
    color: white;

    @media (max-width: 760px) { padding: 140px 40px; }

    #page-description {
        padding-bottom: 40px;
    }

    .deduction-description-container {
        padding-bottom: 25px;
        #deduction-description {
            margin: 2px;
        }
    }

    .button {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        background-color: white;
        cursor: pointer;
        padding: 13px 18px;
        color: #4c4c4c;
        border-radius: 12px;
        border-width: 1px;
        border: solid;
        margin-bottom: 15px;
        -webkit-appearance: none;

        &:hover {
            color: #333333;
        }
    }

    .button-row, .itemized-button-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .button {
            margin-right: 25px;
        }
    }
    .button-row {
        padding-bottom: 25px;
    }
    .itemized-button-row {
        padding-bottom: 10px;
    }
}

// .corp-packet {
//     padding-top: 50px;
//     a {
//         color: white;
//         font-size: 25px;
//         &:hover {
//             font-weight: bold;
//         }
//     }
//     p {
//         font-size: 25px;
//     }
// }