@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Montserrat&family=Open+Sans&display=swap');

.visitors-container {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 170px 200px 120px 200px;

    @media (max-width: 800px) { padding: 140px 80px; }

    .faq-row-wrapper {
        width: 60%;
        @media (max-width: 1300px) { width: 100% }

        .faq-title {
            font-family: 'Chivo', sans-serif;
        }
        .faq-body {
            .faq-row {
                .row-title {
                    font-family: 'Chivo', sans-serif;
                }
     
                .row-content {
                    .row-content-text {
                        font-family: 'Montserrat', sans-serif;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }
}