.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #161219;
    color: white;
    padding: 25px 30px 23px 30px;

    .navbar-logo {
        height: 35px;
    }

    .navbar-links {
        display: flex;

        p {
            padding-left: 40px;
        }
    }
}